<div class="container">
  <div class="row">

    <!-- Notes title pane -->
    <div class="col-lg-2 col-md-2 col-sm-2">

      <h4>Your notes</h4>
      <hr>

      <ul class="list-unstyled notes">
        <li class="note" ng-repeat="note in vm.notes" ng-click="vm.startEditing(note)">{{note.title}}</li>
        <li class="note" ng-click="vm.createNote()"><i class="fa fa-plus"></i> Create Note</li>
      </ul>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">

      <input ng-model="vm.currentTitle" placeholder="Title" type="text" class="form-control">
      <br>
      <textarea ng-model="vm.content" id="md-content"></textarea>
    </div>
  </div>
</div>
