nav.navbar {
  border-radius: 0;
}

ul.notes > li.note {
  border: 1px #ededed solid;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
ul.notes > li.note:hover {
  background-color: #ededed;
}

ul.notes > li.create-note > a {
  margin-top: 10px;
  width: 100%;
}
